@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Gayathri&family=Lexend+Mega&family=MuseoModerno&family=Nabla&family=Permanent+Marker&display=swap");

body {
  color: rgb(229, 213, 192);
  background-color: black;
  font-family: "Gayathri";
  font-size: 1.5rem;
}

.name-title {
  font-family: "Lexend Mega", sans-serif;
  font-size: 2.6rem;
  color: #2ba3b6;
}

.navbar-container {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9)
    ),
    url("assets/images/colorbar.jpg");
  background-size: cover;
  border-radius: 11px;
  background-repeat: no-repeat;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  opacity: 0.7;
}

.grow {
  transition: all 0.1s ease-in-out;
}
.grow:hover {
  transform: scale(1.15);
}

.grow-bigger {
  transition: all 0.1s ease-in-out;
}
.grow-bigger:hover {
  transform: scale(2);
}

header {
  padding: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 10px;
}

nav li a {
  font-size: 6vh;
  font-family: "Lexend Mega", sans-serif;
  text-decoration: none;
  color: #32b2c6;
  text-shadow: 3px 4px black;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  nav li a {
    font-size: 1rem;
  }
}
*/ nav li a:hover {
  color: #591616;
  border-color: #2ba3b6;
  border: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 2px black, 0 0 44px gold, 0 0 5px rgb(255, 226, 5);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

.profile-pic {
  height: 300px;
  width: 240px;
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url("assets/images/IMG_7377.jpg");
  background-size: cover;
  z-index: 1;
  border-radius: 3%;
}

.profile-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16rem;
  transform: translateY(-330px);
}

.profile-section-2 {
  transform: translateY(-400px);
  padding: 1px;
}

.title {
  font-family: "Lexend Mega", sans-serif;
  font-size: 2.6rem;
  color: #2ba3b6;
  transform: translateY(-410px);
}

.title-2 {
  font-family: "Lexend Mega", sans-serif;
  font-size: 2.6rem;
  color: #2ba3b6;
  transform: translateY(-410px);
}

.shred-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2.1rem;
  color: goldenrod;
}
.trip-title {
  font-family: "Lexend Mega", sans-serif;
  color: rgb(249, 69, 66);
}
.face-title {
  font-family: "Lexend Mega", sans-serif;
  color: rgb(0, 140, 255);
}
.memory-title {
  font-family: "Nabla", sans-serif;
}

#a-link {
  color: #32b2c6;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  transform: translateY(-440px);
}

.card {
  background-color: #1f0505;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h2 {
  margin-top: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  transform: translateY(-400px);
}

.button-grid li {
  text-align: center;
}

.button-grid button {
  width: 100%;
  height: 100px;
  color: #32b2c6;
  font-family: "Gayathri";
  border-radius: 8px;
  font-size: 16px;
  background-color: #591616;
}

.circle-links {
  position: relative;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, -88%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 222px;
  width: 100%;
  padding: 10px 0;
  background-color: #931f1f00;
  z-index: 3;
}

.circle-links a {
  margin: 0 10px;
  justify-content: space-between;
}

.circle-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.footer-container {
  position: relative;
  height: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("assets/images/colorfooter.jpg");
  background-size: cover;
  border-radius: 11px;
  background-repeat: no-repeat;
}

#scrollToTopBtn {
  position: static;
  bottom: 140px;
  right: 240px;
  width: 355px;
  height: 46px;
  border-radius: 16px 16px 16px 0;
  padding: 0px;
  background: #71acd6;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  line-height: 44px;
  box-shadow: 2px 2px 2px 0px #a3a3a3;
  text-align: center;
  transform: translate(400px, -20px);
}

/* .bubble {
    position: fixed;
    background: #71acd6;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    line-height: 44px;
    box-shadow: 2px 2px 2px 0px #A3A3A3;
    text-align: center;
    width: 355px;
    height: 46px;
    border-radius: 16px;
    padding: 0px;
}
.bubble:after {
    content: '';
    position: fixed;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 26px 14px 0 0;
    border-color: #71acd6 transparent transparent transparent;
    bottom: -26px;
    left: 6%;
    margin-left: -7px;
} */

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.waving-hand {
  animation: wave 1.8s 3.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

.pulse {
  animation: pulse-animation 1.1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(97, 34, 34, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(30, 35, 122, 0.382);
  }
}

.master {
  color: black;
  float: right;
}

@media (max-width: 900px) {
  .master {
    display: none;
  }
}

#JavaScript:hover {
  background-color: rgb(199, 22, 22);
}

#CSS:hover {
  animation: roll 3s infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1080deg);
  }
}

#HTML:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 0.85s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#Python:hover {
  animation-name: slide-right;
  animation-duration: 9s;
}

@keyframes slide-right {
  from {
    margin-left: 0px;
  }
  50% {
    margin-left: 100px;
  }
  to {
    margin-left: 200px;
  }
}

#Django:hover {
  opacity: 1;
  transition: opacity 0.55s ease-in-out;
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

#Git:hover {
  opacity: 0;
}

#REACT:hover {
  color: #591616;
  background-color: #2ba3b6;
}

#Bootstrap:hover {
  animation: shake 0.32s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#Node:hover {
  animation: horizontal-shaking 0.32s infinite;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

#ExpressJS:hover {
  /* animation: fadeInOut; */
  /* } */
  /* .fadeinout */
  /* { */
  animation: fadeinout 0.3s infinite;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#Tailwind:hover {
  animation: vertical-shaking 0.32s infinite;
}
@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

#Materialize {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 2s ease;
}
#Materialize::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s ease;
}

#Materialize:hover {
  opacity: 0;
}

#Materialize:hover::before {
  opacity: 1;
  animation: materialize 2s ease forwards;
}

@keyframes materialize {
  0%,
  50% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#SQL {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #591616;
  border-radius: 8px;
  color: #2ba3b6;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#SQL::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  opacity: 0;
  transition: opacity 1.5s ease;
  pointer-events: none;
}

#SQL:hover {
  animation: tiltAnimation 1s infinite alternate;
}

@keyframes tiltAnimation {
  0% {
    transform: perspective(1000px) rotateY(-40deg);
  }
  100% {
    transform: perspective(1000px) rotateY(40deg);
  }
}

#SQL:hover::before {
  opacity: 1;
  animation: shimmer 4s linear infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

#Management {
  position: relative;
  padding: 10px 20px;
  background-color: #591616;
  border-radius: 8px;
  color: #2ba3b6;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: none;
}

#Management:hover {
  animation: dropAnimation 0.6s forwards;
  animation-delay: 0.2s;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-1000px);
  }
  10% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-66px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-33px);
  }
  68.9% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-25px);
  }
  82.5% {
    transform: translateY(0px);
  }
  87.5% {
    transform: translateY(-12.5px);
  }
  90% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(-6.25px);
  }
  100% {
    transform: translateY(0px);
  }
}

#Algorithms {
  position: relative;
  background-color: #591616;
  color: #2ba3b6;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flipped-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ba3b6;
  color: #591616;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
  transition: transform 0.4s ease;
}

#Algorithms:hover {
  transform: rotateX(180deg);
}

#Algorithms:hover .flipped-text {
  transform: rotateX(0);
}

#MongoDB {
  font-family: Arial, sans-serif; /* Default font */
  transition: font-family 0.3s ease;
}

#MongoDB:hover {
  font-family: "MuseoModerno";
  font-size: 24px;
}
